/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600;700&display=swap');

/* ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: hsl(243, 87%, 12%);
}

h1,
h2 {
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5em;
}

p {
    margin: 20px 0;
    font-size: 1em;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
}

.container > * {
    max-width: 48%;
}
/* COME BACK TO EDITING THE COLUMN LAYOUT */

form {
    height: 35px;
    display: flex;
    align-items: center;
}

input {
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 2px;
    height: 100%;
    font-family: Raleway, sans-serif;
}

button {
    background-color: hsl(224, 93%, 58%);
    border-style: none;
    font-size: 0.75em;
    font-weight: 600;
    height: 100%;
    border-radius: 2px;
    width: 150px;
    color: #fff;
    font-family: Raleway;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* HEADER */

header {
    margin: 50px 0;
    font-family: Raleway;
}

header .container > * {
   width: auto;
}

.logo {
    height: 40px;
    width: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header li {
    margin-left: 50px;
}

header li a {
    text-decoration: none;
    color: inherit;
}


/* SECTION: INTRO */

section.intro {
    margin: 60px 0 100px;
}

.intro input {
    width: 280px;
    margin-right: 10px;
    padding: 0 20px;
}


/* SECTION: FEATURES */

section.features {
    background-color: #f9f8fe;
    padding: 50px 0 100px;
    margin-top: 250px;
    position: relative;
}

section.features::before  {
    content: '';
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    height: 100px;
    top: -100px;
    left: 0;
    position: absolute;
}

.features h2 {
    margin-bottom: 30px;
}

.features p {
    width: 475px;
}

.features a {
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-bottom: 50px;
}

.features a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: hsl(170, 45%, 43%);
}

.testimonial {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px 30px;
    width: 60%;
}

.testimonial p {
    font-size: 0.8em;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
}


.profile .avatar {
    border-radius: 50%;
    height: 40px;
}

.profile div {
    font-size: 8px;
    margin-left: 15px;
}

.profile h2 {
    font-size: 1.5em;
}

.profile p {
    font-size: 1.2em;
}

.profile h2,
.profile p {
    margin: 0;
}


/* SECTION: CALL TO ACTION */

.cta {
    padding: 70px 0;
    background-color: hsl(238, 22%, 44%);
    color: white;
}

.cta form {
    display: block;
    height: 40px;
}

.cta input {
    width: 100%;
    margin-bottom: 10px;
    border-style: none;
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.cta button {
    width: auto;
    padding: 0 30px;
}

.cta p {
    opacity: 0.9;
    font-size: 1em;
}

/* FOOTER */

footer {
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 100px 0 30px;
}

footer .container {
    display: block;
}

footer .container > * {
    max-width: 85%;
}

footer img {
    margin: 20px 0;
}

.lists {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.lists ul {
    list-style: none;
}

.lists ul li {
    margin-bottom: 20px;
    font-size: 0.8em;
    opacity: 0.9;
}

.lists a {
    color: #fff;
}

.lists ul:last-child li {
    height: 25px;
    width: 25px;
    border: 1px solid white;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

ul:last-child {
    display: flex;
    justify-content: space-between;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1000px) {
    /* ROOT */

    body {
        text-align: center;
        font-size: 12px;
    }

    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.25em;
    }
    .container {
        flex-direction: column;
        padding: 10%;
        max-width: 100%;
    }

    .container > * {
        max-width: 100%;
    }

    header {
        margin: 10px 0;
    }

    header li {
        margin-left: 20px;
    }

    header .container {
        flex-direction: row;
        width: 100%;
    }

    .logo {
        height: 30px;
    }

    input,
    button {
        width: 100% !important;
        height: 50px;
    }

    input {
        margin-bottom: 15px;
    }

    section.intro {
        margin: 10px 0;
    }

    section.intro img {
        margin-bottom: 30px;
    }

    .intro .container,
    .features .container {
        flex-direction: column-reverse;
    }

    section.features {
        margin-top: 150px;
        padding: 0;
        text-align: left;
    }

    section.features::before {
        background-image: url(./images/bg-curve-mobile.svg);
        top: -100px;
    }

    .features h2 {
        text-align: center;
    }
    .features p {
        width: 100%;
    }

    .features a {
        margin: 50px auto;
    }

    .testimonial {
        margin: 0 auto;
        width: 85%;
    }

    .testimonial #quotes {
        text-align: left;
    }

    .cta {
        padding: 40px 0;
    }

    footer {
        padding: 10px 0;
    }

    footer img {
        margin: 0 0 20px;
    }

    footer .container {
        text-align: left;
    }

    footer .lists {
        flex-direction: column;
    }

    footer .lists ul {
        margin-bottom: 20px;
    }

    .lists ul:last-child {
        width: 100%;
        justify-content: center;
    }
    
}

